/* Paleta de Cores
#2b2d42 - Azul Escuro
#8d99ae - Azul Claro
#edf2f4 - Azul Esbranqueçado
#ef233c - Vermelho

#5e503f - Marrom
#c6ac8f - Marrom Claro
#eae0d5 - Bege
#22333b - Azul petroleo
#0a0908 - preto
------------------------*/

/* Estilos Globais
------------------------*/

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


body {
	font-family: 'Open Sans', sans-serif;
	margin:0;
}

h1, h2 {
	font-family: 'Righteous', cursive;
	font-weight: 400;
}

h1 {
	font-size: 80px;
}

h2 {
	font-size: 40px;
	margin-top: 0;
}

a {
	color: #f06449;
}

a:hover {
	text-decoration: none;
}


.content-wrap {
	max-width: 950px;
	margin: 0 auto;
	padding: 50px;
	overflow: auto;
}

.col-left {
	width: 30%;
	float: left;
	min-width: 175px;
}

.col-right {
	width: 70%;
	float: left;
	padding-left: 20px;
	min-width: 175px;
}

/* Header e Footer
------------------------*/

header, footer {
	background: #49111c;
	color: #eae0d5;
}
/* Header */

header h1, header h2 {
	color: #edf2f4;
	margin: 0;
}

.imagem-perfil {
	border-radius: 50%;
}

/* Footer */
footer {
	text-align: center;
}

.contact-info a {
	padding: 10px;
	display: inline-block;
}

/* Experiência Profissional
------------------------*/

.experiencia {
	background: #f2f4f3;
}

/* Formação
------------------------*/

.formacao {
	background: #a9927d;
}
