/* Paleta de Cores
#2b2d42 - Azul Escuro
#8d99ae - Azul Claro
#edf2f4 - Azul Esbranqueçado
#ef233c - Vermelho
------------------------*/

/* Estilos Globais
------------------------*/

body {
	font-family: 'Open Sans', sans-serif;
}

h1, h2 {
	font-family: 'Caveat', cursive;
}

h1 {
	font-size: 80px;
}

h2 {
	font-size: 40px;
}

a {
	color: #ef233c;
}

a:hover {
	text-decoration: none;
}

/* Header e Footer
------------------------*/

header, footer {
	background: #2b2d42;
	color: #8d99ae;
}

header h1, header h2 {
	color: #edf2f4;
}

/* Experiência Profissional
------------------------*/

.experiencia {
	background: #edf2f4;
}

/* Formação
------------------------*/

.formacao {
	background: #8d99ae;
}
